header {
	position: fixed;
	display: flex;
	justify-content: center;
	height: 80px;
	z-index: 999;
	width: 100%;
	background-color: white;
	.wrap {
		width: 90%;
		display: flex;
		.logo {
			height: 100%;
			width: 80px;
			display: flex;
			align-items: center;
			a {
				display: flex;
				height: 100%;
				width: 80px;
                padding: 10px;
			}
		}
		nav {
			flex: 1;
			height: 100%;
			.cancel-btn {
				display: none;
			}
			.nav-links-md {
				display: none;
				ul {
					li{
                        a{
                            color: white;
                        }
                        &.active {
                            a {
                                color: gray;
                            }
                        }
					}
				}
			}
			.nav-links {
				height: 100%;
				display: flex;
				justify-content: space-between;
				align-items: center;
				ul {
					list-style: none;
					margin-left: 30px;
					li {
						display: inline-block;
						padding: 0 5px;
                        a{
                            color: black;
                        }
                        &.active {
                            a {
                                color: gray;
                            }
                        }
                    }
				}
				a {
					text-transform: capitalize;
					text-decoration: none;
				}
			}
		}
		.right {
			height: 100%;
			width: 150px;
			align-items: center;
			justify-content: space-between;
			display: flex;
			a {
				color: black;
				text-transform: capitalize;
				text-decoration: none;
			}
			.hamburger {
				height: 20px;
				width: 30px;
				display: none;
				flex-direction: column;
				justify-content: space-evenly;
				.line {
					height: 2px;
					width: 100%;
					background-color: grey;
					&:nth-child(1) {
						width: 70%;
					}
				}
			}
		}
	}
}
@media screen and (max-width: 1200px) {
	header {
		display: flex;
		justify-content: center;
		height: 80px;
		width: 100%;
		z-index: 999;
		.wrap {
			width: 90%;
			display: flex;
			justify-content: space-between;
			.logo {
				height: 100%;
				width: 80px;
			}
			nav {
				position: fixed;
				top: 0;
				left: 0;
				transform: translateX(100%);
				transition: all 0.4s ease-in-out;
				height: 100vh;
				width: 100%;
				display: flex;
				z-index: 1;
				justify-content: center;
				align-items: center;
				.cancel-btn {
					display: block;
					position: absolute;
					top: 0;
					right: 0;
					.btn {
						padding: 20px;
						svg {
							height: 40px;
							z-index: 1;
						}
					}
				}
				.nav-links {
					display: none;
				}
				.nav-links-md {
					display: block;
					position: absolute;
					height: 80%;
					ul {
						list-style: none;
						li {
							display: block;
							padding: 10px;
							margin: 10px 0;
						}
					}
					a {
						color: white;
						text-transform: capitalize;
						text-decoration: none;
					}
				}
			}
			nav.active {
				background-color: black;
				transform: translateX(0);
			}
			.right {
				height: 100%;
				.hamburger {
					display: flex;
				}
			}
		}
	}
}
